.player-controls {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
  z-index: 10;
}

.player-controls button {
  padding: 10px 18px;
  font-size: 1rem;
  background-color: #00b96b;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.player-controls button:hover {
  background-color: #009f5c;
}

